<form class="col-md-offset-5" name="LoginForm">
    <div>
        <label>Username</label>
        <input class="form-control" type="text" ng-model="user.username"  placeholder="Nickname or Email" required>
    </div>
    <div>
        <label>Password</label>
        <input class="form-control" type="password" ng-model="user.password" required>
    </div>
    <div>
        <label>Remember me</label>
        <input type="checkbox" name="rememberme">
    </div>
    <div>
        <button class="btn btn-default" ng-disabled="LoginForm.$invalid" ng-click="Login(user)">Login</button>
    </div>

</form>